@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
body{
    background-color: #F3F9FE;
    font-family: EB Garamond;
    box-sizing: border-box;
    margin: 3rem 2rem;
}
h1{
    color: #6586a1;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 10px;

}
h3{
    color: #D3D3D3;
    font-size: 20px;
    margin-top: -1rem;
    margin-bottom: -1.5rem;
}

.container{
   background-color: white;
   padding: 1rem;
   text-align: center;
   align-items: center;
   max-width: 100%;
}
.nav-links{
     color: #6586a1;
    list-style-type: none;
    text-decoration: none;
text-transform: uppercase;
}
ul{ 
    display: inline;
    /* makes it centered why? */
     color: #6586a1;
    list-style-type: none;
    text-decoration: none;
    line-height: 5rem;
    margin: 1rem;
}
ul a{
    color: #6586a1;
    list-style-type: none;
    text-decoration: none;
}
ul a:hover{
    opacity: .50;
}
.social-link-list{
    text-align: center;
}
footer{
    display: block;
    background-color: #424256;
    padding: 2rem;
}
.fa-x-twitter{
  color: white;
}
.fa-x-twitter:hover{
    color: black;
}
.fa-instagram{
  color: white;
}
.fa-instagram:hover{
    color: black;
}

@media (min-width: 500px){
    .container{
         margin: 3rem auto;
          width: 600px;
          
    }
}