@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
body{
    background
}
nav ul{
    display: flex;
    gap: 1rem;
    justify-content: end;
    list-style-type: none;
    text-decoration: none;
    color: whitesmoke;
}
nav a{
    color: grey;
    list-style-type: none;
    text-decoration: none;
}
nav a:hover{
    color: black;
}
h1{
    color: rgb(92, 98, 105);
    font-family: fascinate;
    text-transform: uppercase;
    font-size: 4rem;
}
.container{
    background-color: #F3F9FE;
    display: grid;
    place-items: end;
    padding-block: 5rem;
}
.card__container{
    display: grid;
    row-gap: 3.5rem;
}
.card__article{
    position: relative;
    overflow: hidden;
}
.card__data{
    width: 180px;
    background-color: rgb(249, 246, 246);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15); 
    border-radius: 1rem;
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
}
/* .card__data:hover{
    opacity: 1;
    /* bottom: -1rem; */
 */

.container img{
width: 300px;
border-radius: 1.5rem;
}
.container h2{
    font-family:'Times New Roman', Times, serif;
    position: static;
}
.card{
    display: inline-block;
   box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15); 
   padding: 1.5rem 2rem;
   margin: 1rem 5rem;
   border-radius: 2rem;

}


.social-link-list{
    text-align: center;
}
footer{
    background-color: #424256;
    padding: 2rem;
}
.fa-x-twitter{
  color: white;
}
.fa-x-twitter:hover{
    color: black;
}
.fa-instagram{
  color: white;
}
.fa-instagram:hover{
    color: black;
}
