@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
body{ 
    font-family: EB Garamond;
color: rgb(90, 88, 88);
}

header{
    align-items: center;
    text-align: center;
    justify-content: center;
            color: #6586a1;

    text-transform: uppercase;
}
nav ul{
    display: flex;
    gap: 1rem;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem 0;
    margin: 0;
}
nav a{
    color: grey;
    list-style-type: none;
    text-decoration: none;
}
nav a:hover{
    color:  #6586a1;
}
h1{
    font-size: 40px;
    letter-spacing: 5px;
}
h1 a{
     color: #6586a1;
     text-decoration: none;
}
h1 a:hover{
    color: #889bae;
}
h3{
    color: #6586a1;
    font-weight: 600;
    text-transform: lowercase;
    font-style: italic;
}
.container{
    background-color: #F3F9FE;
    padding: 2rem;
}
.container a{
    color: rgb(90, 88, 88);

}
.container a:hover{
     color:  #6586a1;
}

.social-link-list{
    text-align: center;
}
footer{
    background-color: #424256;
    padding: 2rem;
}
.fa-x-twitter{
  color: white;
}
.fa-x-twitter:hover{
    color: black;
}
.fa-instagram{
  color: white;
}
.fa-instagram:hover{
    color: black;
}

@media (min-width: 500px){
    h1 {
        font-size: 60px;
        letter-spacing: 10px;
    }
}